
*.json
RunAdminCMD/RunAdminCMD/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
RunAdminCMD/RunAdminCMD/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RunAdminCMD/RunAdminCMD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RunAdminCMD/RunAdminCMD/obj/Debug/RunAdminCMD.csproj.CoreCompileInputs.cache
RunAdminCMD/RunAdminCMD/obj/Debug/RunAdminCMD.csproj.FileListAbsolute.txt
RunAdminCMD/RunAdminCMD/obj/Debug/RunAdminCMD.exe
RunAdminCMD/RunAdminCMD/obj/Debug/RunAdminCMD.pdb
RunAdminCMD/RunAdminCMD/bin/Debug/RunAdminCMD.exe
RunAdminCMD/RunAdminCMD/bin/Debug/RunAdminCMD.exe.config
RunAdminCMD/RunAdminCMD/bin/Debug/RunAdminCMD.pdb
RunAdminCMD/RunAdminCMD/bin/Debug/test.bat
RunAdminCMD/.vs/RunAdminCMD/v17/.suo
RunAdminCMD/RunAdminCMD/bin/Debug/list.txt
RunAdminCMD/RunAdminCMD/bin/Release/list.txt
RunAdminCMD/RunAdminCMD/bin/Release/Release.zip
RunAdminCMD/RunAdminCMD/bin/Release/RunAdminCMD.exe
RunAdminCMD/RunAdminCMD/bin/Release/RunAdminCMD.exe.config
RunAdminCMD/RunAdminCMD/obj/Release/.NETFramework,Version=v4.6.AssemblyAttributes.cs
RunAdminCMD/RunAdminCMD/obj/Release/DesignTimeResolveAssemblyReferences.cache
RunAdminCMD/RunAdminCMD/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
RunAdminCMD/RunAdminCMD/obj/Release/RunAdminCMD.csproj.CoreCompileInputs.cache
RunAdminCMD/RunAdminCMD/obj/Release/RunAdminCMD.csproj.FileListAbsolute.txt
RunAdminCMD/RunAdminCMD/obj/Release/RunAdminCMD.exe
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/bin/Debug/RunAdminCMD.exe
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/bin/Debug/RunAdminCMD.exe.config
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/bin/Debug/RunAdminCMD.pdb
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/obj/Debug/RunAdminCMD.csproj.FileListAbsolute.txt
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/obj/Debug/RunAdminCMD.csprojResolveAssemblyReference.cache
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/obj/Debug/RunAdminCMD.exe
RunAdminCMD/ProjectForSharpDevelop/RunAdminCMD/obj/Debug/RunAdminCMD.pdb
RunAdminCMD/RunAdminCMD/obj/Release/RunAdminCMD.csproj.AssemblyReference.cache
